
<header>

<div class="transbox"></div>
	<a class="home" href="brand.html">
        <img class="logo" src="images/TransparncePT-logo.png" width="200" "height= "400" alt="logo"/>
	</a>
	<h1>T personal trainer</h1>
         <h2>Get in the best shape of your life</h2>
		 
	<div class = "topnav">
			 <a href="Brand.html">Brand</a>
			<a href="introducton.html">introduction</a>
			<a href="contract.html">contract</a>
			<a href="Table of Content.html">TOC</a>
			<a href="fizz-buzz.html">FIZZ-BUZZ</a>
			
		        
	</div><br>	 
		 
		 
		 
		 
		 
</header>
